.events-display-container {
    padding: 20px 0 60px 0;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 10px; /* Base row height to help with masonry effect */
    gap: 20px; /* Space between items */
  }
  
  .event-poster-container {
    break-inside: avoid; /* Prevents column break within an item */
    margin-bottom: 20px; /* Space between items */
    /* background: #fff; For better visibility */
    /* border: 1px solid #ddd; For better visibility */
    padding-bottom: 20px; /* For better visibility */
  }
  
  .event-poster-img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  .event-poster-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .event-poster-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .event-poster-description {
    text-align: center;
    font-size: 16px;
  }
  
  .event-poster-container:hover .event-poster-img {
    transform: scale(1.1);
  }
  
  .event-poster-container:hover .event-poster-details {
    opacity: 1;
  }
  
  @media (max-width: 1200px) {
    .events-display-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
  
  @media (max-width: 800px) {
    .events-display-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 600px) {
    .events-display-container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
  