.events-display-container {
    padding: 20px;
    width: calc(100% - 40px); /* Adjust width to account for padding */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Set to 4 items per row */
    grid-auto-rows: auto; /* Adjust row height to content */
    gap: 20px; /* Space between items */
    justify-content: center; /* Center items in the grid */
  }
  
  @media (max-width: 1200px) {
    .events-display-container {
      grid-template-columns: repeat(4, 1fr); /* Adjust for smaller screens */
    }
  }
  
  @media (max-width: 800px) {
    .events-display-container {
      grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    }
  }
  
  @media (max-width: 600px) {
    .events-display-container {
      grid-template-columns: repeat(1, 1fr); /* Adjust for smaller screens */
    }
  }
  
  .event-poster-container {
    break-inside: avoid; /* Prevents column break within an item */
    margin-bottom: 20px; /* Space between items */
    padding-bottom: 20px; /* For better visibility */
    position: relative; /* Ensure proper positioning of absolute children */
  }
  
  .event-poster-img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  .event-poster-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover the entire poster */
    background: rgba(0, 0, 0, 0.248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .event-poster-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .event-poster-description {
    text-align: center;
    font-size: 16px;
  }
  
  .event-poster-container:hover .event-poster-img {
    transform: scale(1.1);
  }
  
  .event-poster-container:hover .event-poster-details {
    opacity: 1;
  }
  